{% extends 'baselayout.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/tidbits/complimentsandwich.js') }}"></script>
{% endblock %}
{% block title %}Compliment Sandwich{% endblock %}

{% block content %}
<div class="container is-family-monospace">
    <header class="hero">
        <div class="hero-body">
            <h1 class="has-text-centered is-size-3">Compliment Sandwich</h1>
            <p class="has-text-centered">Sandwich a criticism with two random compliments.</p>
        </div>
    </header>
    <div class="field">
        <div class="field">
          <label class="label"></label>
          <div class="control">
              <input class="input is-medium" id="criticism" type="text" placeholder="Input a critcism">
          </div>
        </div>

        <div class="control">
            <a class="button is-primary" onclick="printSandwich()">Create Sandwich</a>
        </div>
    </div>
    <div class="section">
        <p id="sandwich" class="is-size-6"></p>
    </div>
</div>
{% endblock %}
