{% extends 'baselayout.html' %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}SECRET{% endblock %}

{% block content %}
<div class="container is-family-monospace">
    <header class="hero">
        <div class="hero-body">
            <h1 class="has-text-centered is-size-3">VERY SECRET</h1>
            <p class="has-text-centered">Super super secret.</p>
        </div>
    </header>
    <h1>Hi, {{current_user.username}}!</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.grade.label }}<br>
        {{ form.grade(cols=4, rows=1) }}<br>
        {{ form.color.label }}<br>
        {{ form.color(cols=32, rows=1) }}<br>
        {{ form.risk.label }}<br>
        {{ form.risk(cols=4, rows=1) }}<br>
        {{ form.intensity.label }}<br>
        {{ form.intensity(cols=4, rows=1) }}<br>
        {{ form.complexity.label }}<br>
        {{ form.complexity(cols=4, rows=1) }}<br>
        {% for error in form.grade.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
    <h3>Here are all the problems you've set:</h3><br>
    <table class=table>
        <tbody>
        {% for problem in problems %}
             {% include '_problem.html' %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
