{% extends 'baselayout.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/tidbits/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tidbits/canvas.js') }}"></script>
{% endblock %}
{% block subtitle %}Tidbits{% endblock %}

{% block content %}
<canvas id="overlay"></canvas>
<div class="container">
    <div id="underlay" class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <div id="birthday" class="has-text-centered">
                    <a class="subtitle" onclick="checkBirthday()">Is it Sean's birthday?</a>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <div id="flip" class="has-text-centered">
                    <a class="subtitle" onclick="flipCoin()">Flip a coin</a>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <a href="/energy">
                    <p class="subtitle has-text-centered">Layman's Energies</p>
                </a>
            </article>
        </div>
    </div>
</div>
{% endblock %}
