{% extends 'baselayout.html' %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}SECRET{% endblock %}

{% block content %}
<div class="container is-family-monospace">
    <header class="hero">
        <div class="hero-body">
            <h1 class="has-text-centered is-size-3">VERY SECRET</h1>
            <p class="has-text-centered">Super super secret.</p>
        </div>
    </header>
    <h1>Hi, {{current_user.username}}!</h1>
    <h3>Here are all the problems:</h3><br>
    {% for problem in problems %}
    <div class="">
        <p>{{ problem.id }}: <b>{{ problem.grade }}</b>, {{ problem.color }}</p>
        <p>Setter: {{ problem.setter.username }}.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
