{% extends 'baselayout.html' %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container is-family-monospace">
    <header class="hero">
        <div class="hero-body">
            <h1 class="has-text-centered is-size-3">Setter: {{ user.username }}.</h1>
            {% if user.about_me %}
                <h3>{{ user.about_me }}</h3>
            {% endif %}
            {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
            {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
            {% endif %}
        </div>
    </header>
    <table class=table>
        <thead>
            <tr>
                <th>id</th>
                <th>Setter</th>
                <th>Grade</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
             {% include '_problem.html' %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
